.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 1em;  
  font-weight: 400;
  border: none;
  border-radius: 50px;
  padding: 8px 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: max-content;
}

.primary {
  background-color: #4a90e2;
  color: white;
}

.success {
  background-color: #7be694;
  color: #25003b;
}

.danger {
  background-color: #e74c3c;
  color: white;
  border-radius: 100%;
  padding: 8px; 
}

.outlined {
  background-color: white;
  border: 2px solid #D7D7D7;
  color: #000;
}

.secondary {
  background-color: #25003b;
  color: white;
}

.primary:hover {
  background-color: #357acb;
}

.success:hover {
  background-color: #6adf83;
}

.danger:hover {
  background-color: #c0392b;
}

.outlined:hover {
  background-color: #4a90e2;
  color: white;
}

.secondary:hover {
  background-color: #3d004c;
}

.button-icon {
  font-size: 16px; 
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-button {
      font-size: 0.9em; 
      padding: 6px 14px;
      gap: 4px; 
  }

  .danger{
    padding: 10px; 
  }

  .button-icon {
      font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .custom-button {
      font-size: 0.85em;
      padding: 5px 12px;
  }

  .button-icon {
      font-size: 12px; 
  }
}
