

.dashboard-wrapper{
    /* background-color: red; */
    width: 98%;
    height: 'auto';
    min-height: 100vh;
    margin: 5em auto 1em;
    display: flex;
    /* justify-content: space-between; */
    gap: 1em;
}

.left-dashboard-content{
    max-width: 20%;
    display: flex;
gap: 1em;
height: max-content;
}

.menu-icons-wrapper{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1em;
    background-color: white;
    width: 10%;
    padding: 1em;
position: relative;
}

.menu-icon{
    width: 1.1em;
}

.menu-drop-wrapper{
width: 80%;
background-color: white;
border-radius: 8px;
padding: 1em;
line-height: 2em;
min-width: 10rem;
position: relative;

}

.right-dashboard-content{
    width: 80%;
    /* background-color: aqua; */
    /* max-width: 80%; */
    /* padding: 1em; */
}

.chev-right{
position: absolute;
top: 1em;
right: -0.5em;
background-color: #DDE6E0;
border-radius: 50%;
}



.tab-view-actions-wrapper{
    display: flex;
    max-height: 3rem;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin: 1em 0;

}

.right-actions-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
}