.dashboard-wrapper {
    /* background-color: red; */
    width: 98%;
    height: 'auto';
    /* max-height: 100vh; */
    margin: 5em auto 1em;
    display: flex;
    /* justify-content: space-between; */
    gap: 1em;
}

.left-dashboard-content {
    /* width: 20%; */
    /* max-width: 20%; */
    max-width: 20%;
    display: flex;
    gap: 1em;
    height: max-content;

}

.menu-icons-wrapper {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1em;
    background-color: white;
    width: 10%;
    min-width: 1.2rem;
    padding: 1em;
    position: relative;
}

.menu-drop-wrapper {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    line-height: 2em;
    /* min-width: 10rem; */
    position: relative;

}

.menu-drop-wrapper.close{
width: 0;
}

.menu-icon {
    width: 1.1em;
}

.right-dashboard-content {
    flex-grow: 1;
    /* width: 80%; */
    min-width: 80%;
    /* background-color: aqua; */
    /* max-width: 80%; */
    /* padding: 1em; */
}

.chev-right-wrapper{
    width: 20px;
    height: 20px;
    background-color: #DDE6E0;
    position: absolute;
    top: 1em;
    right: -0.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.chev-right.iconOpen{
    transform: rotate(-180deg);
}


.tab-view-actions-wrapper {
    display: flex;
    /* max-height: 3rem; */
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin: 1em 0;

}

@media screen and (max-width: 1024px) {
    .tab-view-actions-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em
    }

   
  }

@media screen and (max-width: 576px) {
    .doughnut-wrapper{
        flex-direction: column;
        max-width: 90%;
    }

   
  }

.right-actions-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.doughnut-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1em;
    margin-top: 1em;
    height: max-content;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;

}

.dummy-link-text {
    transform: rotate(-90deg);
    transform-origin: left bottom; 
    position: absolute;
    bottom: 50%; 
    left: 30px; 
    white-space: nowrap; 
    font-size: 0.8em;
    color: #b3aeae;
}
